<template>
  <ion-page>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-searchbar animated placeholder="Buscar"></ion-searchbar>
            <div class="ion-margin-top">
              <span>Filtros</span>
              <div v-show="false">
                <ion-item class="ion-margin-top">
                  <ion-label>Mascota</ion-label>
                  <ion-select placeholder="Selecciona una">
                    <ion-select-option value="p">Perro</ion-select-option>
                    <ion-select-option value="g">Gato</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item class="ion-margin-top">
                  <ion-label>Raza</ion-label>
                  <ion-select placeholder="Selecciona una">
                    <ion-select-option value="p">Chihuahua</ion-select-option>
                    <ion-select-option value="g">Salchicha</ion-select-option>
                    <ion-select-option value="g"
                      >Golden Retriever</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </div>
            </div>

            <div>
              <ion-list>
                <ion-item>
                    <ion-card router-link="/detail" router-direction="back">
                      <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card Title</ion-card-title>
                      </ion-card-header>

                      <ion-card-content>
                        Keep close to Nature's heart... and break clear away,
                        once in awhile, and climb a mountain or spend a week in
                        the woods. Wash your spirit clean.
                      </ion-card-content>
                    </ion-card>
                </ion-item>
              </ion-list>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import {
  IonSearchbar,
  IonPage,
  IonContent,
  IonGrid,
  IonRow,
  IonCol,
  IonItem,
  IonLabel,
  IonSelectOption,
  IonSelect,
  IonList,
  IonCard,
  IonCardHeader,
  IonCardSubtitle,
  IonCardTitle,
  IonCardContent,
  IonButton,
} from "@ionic/vue";

export default defineComponent({
  name: "HomePage",
  components: {
    IonSearchbar,
    IonPage,
    IonContent,
    IonGrid,
    IonRow,
    IonCol,
    IonItem,
    IonLabel,
    IonSelectOption,
    IonSelect,
    IonList,
    IonCard,
    IonCardHeader,
    IonCardSubtitle,
    IonCardTitle,
    IonCardContent,
  },
});
</script>

<style scoped>
.margin-content {
  margin-top: .8em !important;
}

ion-app{
margin-top: env(safe-area-inset-top);
margin-bottom: env(safe-area-inset-bottom)
}
</style>