<template>
  <ion-page>
    <ion-header>
      <ion-toolbar color="light">
        <ion-buttons slot="start">
          <ion-back-button
            text=""
            color="dark"
            defaultHref="/tabs/tab1"
          ></ion-back-button>
        </ion-buttons>
        <ion-title>Mascota 1</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content scroll-y="false">
      <mapbox-map
        class="map-div"
        :accessToken="access_token"
        mapStyle="streets-v11"
        :center="center"
        :zoom="12"
        :auto-resize="true"
      >
        <mapbox-marker :lngLat="center" />
      </mapbox-map>
      <v-cupertino
        overflow-y
        class="content"
        :drawerOptions="settings"
        ref="cupertinoRef"
      >
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-slides pager="false" :options="slideOpts">
                  <ion-slide>
                    <img
                      src="https://cdn.pixabay.com/photo/2017/09/25/13/12/cocker-spaniel-2785074_1280.jpg"
                    />
                  </ion-slide>
                  <ion-slide>
                    <img
                      src="https://cdn.pixabay.com/photo/2017/09/25/13/12/cocker-spaniel-2785074_1280.jpg"
                    />
                  </ion-slide>
                  <ion-slide>
                    <img
                      src="https://cdn.pixabay.com/photo/2017/09/25/13/12/cocker-spaniel-2785074_1280.jpg"
                    />
                  </ion-slide>
                </ion-slides>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <ion-item class="item-content">
                  <dog-icon />
                  <ion-label class="ion-text-end">Mila</ion-label>
                </ion-item>

                <ion-item class="item-content">
                  <cake-icon />
                  <ion-label class="ion-text-end">14</ion-label>
                </ion-item>

                <ion-item class="item-content">
                  <gender-icon />
                  <ion-label class="ion-text-end">Macho</ion-label>
                </ion-item>

                <ion-item class="item-content">
                  <format-icon />
                  <ion-label class="ion-text-end">Golden</ion-label>
                </ion-item>

                <!-- <div>
                  <ion-button fill="outline" expand="block"
                    >Mostrar mas</ion-button
                  >
                </div> -->
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top">
            <ion-col>
              <ion-card>
                <ion-card-content>
                  <ion-card-header>
                    <ion-card-title>Card Title</ion-card-title>
                  </ion-card-header>
                  <p>
                    Here’s a small text description for the card component.
                    Nothing more, nothing less.
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <!-- Comments & Contact section -->
          <div class="ion-margin-top button-margin">
            <ion-button color="tertiary" expand="block"
              >Enviar mensaje</ion-button
            >
          </div>
        </ion-grid>
      </v-cupertino>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, Ref } from "vue";
import {
  IonPage,
  IonContent,
  IonGrid,
  IonRow,
  IonCol,
  IonButton,
  IonSlides,
  IonSlide,
  IonItem,
  IonLabel,
  IonCard,
  IonCardContent,
  IonCardHeader,
  IonCardTitle,
  IonToolbar,
  IonButtons,
  IonHeader,
  IonTitle,
  IonBackButton,
} from "@ionic/vue";
import { CupertinoPane, CupertinoSettings } from "cupertino-pane";
import VCupertino from "v-cupertino";
import axios from "axios";
import { MapboxMap, MapboxMarker } from "vue-mapbox-ts";
import DogIcon from "vue-material-design-icons/Dog.vue";
import CakeIcon from "vue-material-design-icons/Cake.vue";
import GenderIcon from "vue-material-design-icons/GenderMaleFemale.vue";
import FormatIcon from "vue-material-design-icons/FormatListBulletedType.vue";

export default defineComponent({
  name: "PetDetailsPage",
  data() {
    return {
      access_token:
        "pk.eyJ1IjoianNnb3ZlYSIsImEiOiJja3lodm9sMjAxZDF3Mm9tbGN1dHU5ZWJjIn0.ZxI31-eml0SckoyVg06BZw",
      center: [-117.046623, 32.522499],
      map: {},
      location: "",
    };
  },
  components: {
    IonPage,
    IonContent,
    VCupertino,
    MapboxMap,
    MapboxMarker,
    IonGrid,
    IonRow,
    IonCol,
    IonButton,
    IonSlides,
    IonSlide,
    DogIcon,
    CakeIcon,
    GenderIcon,
    FormatIcon,
    IonItem,
    IonLabel,
    IonCard,
    IonCardContent,
    IonCardHeader,
    IonCardTitle,
    IonToolbar,
    IonButtons,
    IonHeader,
    IonTitle,
    IonBackButton,
  },
  methods: {},

  setup() {
    const slideOpts = {
      initialSlide: 1,
      speed: 400,
    };

    const cupertinoRef: Ref<typeof VCupertino> = ref(VCupertino);
    let settings: CupertinoSettings = {
      buttonDestroy: false,
      // topperOverflow: false,
    };
    onMounted(() => {
      const cupertino = cupertinoRef.value.cupertino as CupertinoPane;
      cupertino.destroy({
        animate: true,
      }); // Remove pane from DOM and clear styles
    });

    return {
      cupertinoRef,
      settings,
      slideOpts,
    };
  },
});
</script>

<style scoped>
.button-margin {
  margin-bottom: 2.5rem;
}
</style>
