<template>
  <HomePage />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
} from "@ionic/vue";
import ExploreContainer from "@/components/ExploreContainer.vue";
import RegisterPage from "@/views/auth/RegisterPage.vue";
import HomePage from "@/views/app/HomePage.vue";


export default defineComponent({
  name: "Tab1Page",
  components: { HomePage },
});
</script>
