<template>
  <ion-page>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Hello Again!</h1>
            <p>Welcome back you've been missed!</p>
            <div>
              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item class="ion-margin-top">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </div>
            <div class="ion-margin-top">
              <ion-button expand="block">Iniciar Sesion</ion-button>
            </div>
            <div class="ion-text-end ion-margin-top">
                <ion-button class="font-sm" color="light" size="small">Recuperar Contraseña</ion-button>
            </div>

            <div class="ion-text-center margin-md font-sm">
                <p>Aun no tienes cuenta?</p>
                <ion-button class="font-sm button-transparent" color="light" size="small">Registrate ahora</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import {
  IonPage,
  IonContent,
  IonGrid,
  IonRow,
  IonCol,
  IonItem,
  IonLabel,
  IonInput,
  IonButton,
} from "@ionic/vue";

export default defineComponent({
  name: "LoginPage",
  components: {
    IonPage,
    IonContent,
    IonGrid,
    IonRow,
    IonCol,
    IonItem,
    IonLabel,
    IonInput,
    IonButton,
  },
});
</script>

<style scoped>
    .font-sm {
        font-size: 0.8rem;
    }
    .margin-md {
        margin-top: 4rem;
    }

    .button-transparent {
        background: transparent;
    }
</style>