<template>
  <ion-page>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Registro</h1>
            <p>Crea una cuenta para continuar</p>
            <div>
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item class="ion-margin-top">
                <ion-label position="floating">Correo</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item class="ion-margin-top">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </div>
            <div class="ion-margin-top">
              <ion-button expand="block">Continuar</ion-button>
            </div>

            <div class="ion-text-center margin-md font-sm">
              <p>Ya tienes cuenta?</p>
              <ion-button
                class="font-sm button-transparent"
                color="light"
                size="small"
                >Accede a tu cuenta</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import {
  IonPage,
  IonContent,
  IonGrid,
  IonRow,
  IonCol,
  IonItem,
  IonLabel,
  IonInput,
  IonButton,
} from "@ionic/vue";

export default defineComponent({
  name: "RegisterPage",
  components: {
    IonPage,
    IonContent,
    IonGrid,
    IonRow,
    IonCol,
    IonItem,
    IonLabel,
    IonInput,
    IonButton,
  },
});
</script>

<style scoped>
    .font-sm {
        font-size: 0.9rem;
    }
    .margin-md {
        margin-top: 3rem;
    }

    .button-transparent {
        background: transparent;
    }
</style>